.header {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    /* margin: 80px 0;  */
    flex-direction: column-reverse;
  }
  
  .header h1 {
    font-size: 40px;
  }
  .header h2 {
    color: #666779;
  }
  
  .header h3 {
    color: #EEEFF1;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
  }
  
  .headerContent {
    word-wrap: break-word;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 1rem;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
  }
  
  .skills Image {
    height: 37px;
      width: 50px;
  }
  
  .header p {
   color: #EEEFF1;
  }
  
  .header span {
    /* color: #ffab00; */
    color: #00FFE5;
  }
  
  .image {
    justify-self: end;
  }
  .imageDiv {
    border: 6px solid black;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  
  .imageDiv Image {
    max-width: 100%;
    height: auto;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 22px;
    background-color: none;
    border: 3px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 0.8rem;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
  }
  
  .button:hover {
    color: #fff;
    text-decoration: none;
  }
  .button::before {
    content: "";
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.5s;
  }
  .button:hover::before {
    height: 100%;
  }
  
  .stack {
    word-spacing: 3px;
  }
  
  .image_div {
    position: relative;
    width: 100%;
    max-width: 402px;
  }
  
  @media screen and (min-width: 1200px) {
    .header {
      /* grid-template-columns: 1fr 1fr;
      grid-auto-flow: row-reverse;
      grid-gap: 40px;
      margin: 150px 0; */
      flex-direction: row;
    }
    .header h2 {
      font-size: 2.8rem;
    }
  }
  
  @media screen and (min-width: 800px) {
    .header {
      margin: 90px 0;
    }
    .header h1 {
      font-size: 60px;
    }
    .skills Image {
      height: 47px;
      width: 60px;
    }
    .header h3 {
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 660px) {
    .button {
      padding: 12px 25px;
    }
  }
  
  @media screen and (min-width: 600px) {
    .header h2 {
      font-size: 2.5rem;
      font-weight: 900;
    }
    .header h3 {
      font-size: 2rem;
    }
  }